*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.content{
    max-width: 960px;
    margin: 0 auto;
}
header{
    text-align: center;
    letter-spacing: 5px;
    padding: 20px;
}

form h3{
    text-align: center;
    color: green;
    padding: 15px 0;
}
label{
    font-size: 150%;
    display: none;
}
.name{
    width: 90%;
   height: 40px;
    margin: 10px;
    font-size: 100%;
    
}
.date-amount{
    display: flex;
    width: 100%;
    justify-content: center;
}
.date-container,
.amount-container{
    flex: 1;
    width: 100%;
    height: 40px;
    
    

}

.date-container input,
.amount-container input{ 
width: 90%;
height: 40px;
padding: 5px;
}
.submit{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}
#add{
    width: 100px;
    height: 40px;
    border: none;
    color: white;
    background-color: green;

}

/* data section */
table{
    width: 100%;
}
.header-row{
    width: 100%;
}
table th{
    text-align: left;
    height: 25px;
    border: 1px solid black;
    background-color: rgb(233, 233, 233);
    padding: 10px;
}
#tName-head,
#tDate-head{
    width: 25%;
    
}
#tAmount-head{
    
    width: 40%;
}
tfoot td{
    height: 10px;
    background-color: rgb(164, 211, 164);
    padding: 5px;
    box-sizing: border-box;
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}